{% extends'base.html' %} 
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<body style="background-color: rgb(125, 211, 245);">
<div style = "font-size:24px" class="col-md-4">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

    {%else%}
    <p>No profile picture</p>

    {% endif %}

        {% if user == current_user %}
    <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <br>
      <input type="submit">
    </form>
      {% endif %}
  </div>
              <div style = "font-size:24px" class="col-md-4" style="margin-top: 200px;">
                <p> <b>Name:</b> {{user.firstname}} {{user.lastname}} </p>
                <p><b> No of pitches:</b> {{pitches}}</p>
                <p><b> Date joined: </b>{{date}}</p>
            </div>

            <div style = "font-size:24px" class="col-md-4"  style="margin-top: 200px;">
                <h3>Add Your Bio </h3>

                <!--Displaying user bio-->
                {% if user.bio %}
                <p> {{user.bio}}</p>
                {%else%}
                <p> {{user.username| capitalize}} has no bio </p>
                {% endif %} {% if user == current_user %}
                <a href="{{url_for('main.update_profile',uname=user.username)}}"><button type="button"
                    class="btn btn-info">Edit profile</button></a> {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}